@font-face {
    font-family: Poppins-Bold;
    src: url(Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: Sono;
    src: url(Sono-VariableFont.ttf);
}

body
{
    background-color: #222222;
}

#wrapper
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 97vh;
}


/* Landing page text */
#title
{
    justify-items: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2;
}

#maintitle
{
    font-size: 3em;
}
#subtitle
{
    font-family: Sono;
    font-size: 1.5em;
}
.landingpage_text
{
    font-family: Poppins-Bold;
    color: white;
}


/* Menu options */
#menu
{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    height: 3.3em;
}

.menu_buttons
{
    font-family: Sono;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
}
.menu_buttons:hover
{
    background-color: #121212;
    text-decoration: none;
}